<nav role="nav" data-nosnippet>
  <div class="logo-image">
    <a class="u-url u-uid" href="/">
      <picture>
        <source
          media="(min-width: 769px)"
          srcset="/assets/images/shavon.webp"
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="/assets/images/shavon_horizontal.webp"
          type="image/webp"
        />
        <img
          class="u-photo u-logo"
          src="/assets/images/shavon.webp"
          alt="A photograph of Molly White sitting at a table in a video studio. She's
          a white woman with long brown hair that's shaved on one side, she has brown eyes, and she's wearing a black and
          white striped shirt and black blazer. There is a colorful cartoon background behind her. She's smiling and looking
          at someone out of frame."
        />
      </picture>
    </a>
  </div>
  <button id="menu-toggle" class="menu-toggle">Menu</button>
  <div id="nav-links" class="nav-links collapsed">
    <ul class="top-level">
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
    <ul>
      <li class="nav-header">Other interests</li>
      <li>
        <a href="/blogroll">Blogroll</a>
      </li>
    </ul>
    <ul>
      <li class="nav-header">Social</li>
      <li>
        <a class="u-url" href="https://www.linkedin.com/in/shavon-nand-a77185245/" rel="me"
          >LinkedIn</a
        >
      </li>
      <li>
        <a class="u-url" href="https://letterboxd.com/SCN/" rel="me"
          >Letterboxd</a
        >
      </li>
      <li>
        <a class="u-url" href="https://github.com/snand5" rel="me"
          >GitHub</a
        >
      </li>
      <li>
        <a class="u-url" href="https://www.youtube.com/@shavon" rel="me"
          >YouTube</a
        >
      </li>
    </ul>
  </div>
</nav>
