<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/assets/styles/base-styles.css" />

    <meta property="og:site_name" content="Shavon" />
    <meta property="og:title" content="{{title}}" />
    <meta name="twitter:title" content="{{title}}" />
    {% if description %}
    <meta name="description" content="{{description}}" />
    <meta property="og:description" content="{{description}}" />
    <meta name="twitter:description" content="{{description}}" />
    {% endif %}
    <meta property="og:image" content="{{image}}" />
    <meta name="twitter:image" content="{{image}}" />
    <meta property="og:image:alt"
      content="{{image_description}}" />
    <meta name="twitter:image:alt"
      content="{{image_description}}" />
    {% if image_width %}
    <meta property="og:image:width" content="{{image_width}}" />
    {% endif %}
    {% if image_height %}
    <meta property="og:image:height" content="{{image_height}}" />
    {% endif %}
    <meta property="og:locale" content="en_AU" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="{{twitter_card_style | default('summary_large_image')}}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <link rel="icon" href="/assets/images/icons/favicon.ico" />
    <link rel="icon" href="/assets/images/icons/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="/assets/images/icons/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="apple-touch-icon" href="{{ site.url }}/assets/images/icons/apple-touch-icon.png" sizes="180x180" />
    <link rel="manifest" href="{{ site.url }}/site.webmanifest" />
    <link rel="webmention" href="{{ site.url }}/webmention">
    <link rel="alternate" type="application/atom+xml" title="Shavon Nand's posts"
      href="{{ site.url }}/feed/feed.xml">
    <meta name="theme-color" content="#161616" />

  </head>

  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    {% block pagecontent %}{% endblock %}
  </body>
  {% block js %}{% endblock %}

</html>
