{% extends "layouts/base.njk" %}

{% block pagecontent %}
  <div class="page-container {{page_class}}">
    {% include "nav.njk" %}
    <main id="main-content">
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>&copy; Shavon Nand</p>
    </footer>
  </div>
{% endblock %}

{% block js %}
  <script src="/assets/js/nav.js"></script>
{% endblock %}