---
title: "Shavon Nand"
description: "Hi!"
page_class: "home h-card"
path: "/"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}

<h1 class="title">I'm <span class="p-name">Shavon Nand</span>.</h1>
<p>Hi!</p>

<h2>Recent Activity</h2>
<ul>
{% for post in collections.posts | reverse %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    <time datetime="{{ post.date.toISOString() }}">
      {{ post.date.toLocaleDateString('en-AU') }}
    </time>
    {% if post.data.description %}
      <p>{{ post.data.description }}</p>
    {% endif %}
  </li>
{% endfor %}
</ul>



{% endblock %}
