// POST
.post {
  padding: 32px 0 0;
  word-break: break-word;
  overflow-wrap: break-word;
}

.post p {
  line-height: 1.6em;
  margin: 0 0 20px 0;
}

.available-content {
  display: flex;
}

.article-content {
  display: block;
  width:100%;
  margin-bottom: 16px;
}
.article-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
}

.article-content code {
  background-color: var(--code-background-color);
  font-family: var(--monospace-fonts);
}

.article-content blockquote {
  color: var(--blockquote-quote-color);
  border-left: 4px solid var(--accent-color-purple);
  margin: 20px 0;
}

.article-content blockquote > * {
  margin-left: 20px;
}

.post img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: normal;
  margin-top: 0.5rem;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  color: var(--secondary-text-color);
}

.article-content iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: 0;
}

.post-header {
  padding-inline: 1rem;
}

.post-title {
  margin-bottom: 0.5rem;
}

.post-header  .byline {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-block: 1rem;
  border-bottom: 1px solid var(--hr-color);
  margin-bottom: 1.5rem;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  background: var(--note-background-color);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-meta {
  display: flex;
  font-family: var(--sans-serif-fonts);
  font-size: 0.8rem;
  font-weight: 500;
  flex-direction: column;
  line-height: 20px;
}

.author-name {
  color: var(--main-text-color);
}

.post-date {
  color: var(--timestamp-color);
}

.post-header .subtitle {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: var(--secondary-text-color);
}